  <% if user_signed_in? %>
<div class="jumbotron center">
<h2>Welcome to the </h2>
<h1>ZCode Contract Manager</h1>

          Holding Spot for stuff.
</div>
<div class="panel panel-default">
  <div class="container">
    <h1>Contracts</h1>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Contract Nickname</th>
          <th>Advertiser</th>
          <th>Rep</th>
        </tr>
      </thead>

      <tbody>
        <% @contracts.each do |contract| %>
          <tr>
            <td><%= link_to contract.name, contract %></td>
            <td><%= contract.advertiser %></td>
            <td><%= contract.rep_id %></td>
            <td><%= link_to 'Edit', edit_contract_path(contract) %></td>
            <td><%= link_to 'Delete Contract', contract, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <hr>
    <%= link_to 'New Contract', new_contract_path %>
  </div>
</div>

<% else %>
<div class="jumbotron center">
<h2>Welcome to the </h2>
<h1>ZCode Contract Manager</h1>  
       <p>
         <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
       </p>
  <% end %>  
</div>
